@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #161616;
  color: #d1d5db;
}

/* Custom Scrollbar for a more app-like feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #1f1f1f;
}
::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
